.breadcrumbs {
	margin-bottom: 30px;
}
.breadcrumbs a, i {
	margin: 0;
}
.breadcrumbs a {
	font-size: 18px;
	color: #333;
	font-family: 'Comfortaa', cursive;
	font-weight: 700;
	margin-right: 10px;
}
.breadcrumbs a:last-child {
	margin-right: 0;
}
.breadcrumbs i {
	color: #333;
	font-size: 18px;
	margin-right: 10px;
}