.cart {
	border-radius: 3px;
	overflow: hidden;
	background: #fff;
	box-shadow: 10px 20px 20px #ccc;
	margin-bottom: 30px;
}
.cart-item {
	min-height: 212px;
	border-bottom: 2px solid #eee;
	padding: 30px;
}
.cart-item:last-child {
	border-bottom: none;
}
.cart-item .img img {
	border-radius: 3px;
	max-height: 150px;
	width: 100%;
	border: 2px solid #8a1066;
}
.cart-item .details a {
	font-size: 18px;
	color: #333;
}
.cart-item .details .rating {
	margin: 15px 0 15px;
}
.cart-item .details p {
	font-size: 16px;
	margin: 0;
	line-height: 1.5em;
}
.cart-item .controls {
	margin-top: 15px;
	height: 44px;
	overflow: hidden;
}
.cart-item .controls .minus,
.cart-item .controls span,
.cart-item .controls .plus {
	height: 44px;
	float: left;
}
.cart-item .controls .minus,
.cart-item .controls .plus {
	width: 44px;
	border: none;
	border-radius: 3px;
	background: #2ecc71;
	transition: background .3s;
}
.cart-item .controls .minus:hover,
.cart-item .controls .plus:hover {
	background: #27ae60;
}
.cart-item .controls .minus i,
.cart-item .controls .plus i {
	font-size: 18px;
	color: #fff;
}
.cart-item .controls .minus {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.cart-item .controls .plus {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.cart-item .controls span {
	width: 100px;
	line-height: 40px;
	border-top: 2px solid #2ecc71;
	border-bottom: 2px solid #2ecc71;
	text-align: center;
	font-size: 18px;
}
.cart-item .delete button {
	background: #e74c3c;
	color: #fff;
	height: 44px;
	width: 100%;
	border: none;
	border-radius: 3px;
	transition: background .3s;
}
.cart-item .delete button:hover {
	background: #c0392b;
}
.cart-item .delete button i {
	margin-right: 10px;
}
.cart .checkout {
	background: #2ecc71;
	color: #fff;
	height: 44px;
	display: inline-block;
	border-radius: 3px;
	line-height: 44px;
	padding: 0 15px;
	margin: 30px;
	font-size: 18px;
	transition: .3s background;
}
.cart .checkout:hover {
	text-decoration: none;
	background: #27ae60;
}
.cart .checkout i {
	margin-right: 15px;
}