.form,
.order-details {
	border-radius: 3px;
	overflow: hidden;
	background: #fff;
	box-shadow: 10px 20px 20px #ccc;
	padding: 15px;
}
.form h2 {
	margin-bottom: 15px;
}
.form input {
	height: 44px;
	border: none;
	border-radius: 3px;
	border: 1px solid #ccc;
	margin-bottom: 15px;
	width: 100%;
	text-indent: 15px;
}
.form input:focus {
	background: #fff;
}
.form button {
	height: 44px;
	border-radius: 3px;
	padding: 0 15px;
	background: #2ecc71;
	transition: .3s background;
	color: #fff;
	font-size: 16px;
	border: none;
}
.form button:hover {
	background: #27ae60;
}
.form button i {
	margin-right: 15px;
}
.order-details {
	padding: 0;
}
.order-details h2 {
	padding: 15px;
}
.order-item {
	padding: 15px;
	border-top: 1px solid #eee;
	overflow: hidden;
}
.order-item p {
	margin: 0;
	font-size: 16px;
	float: left;
	margin-right: 15px;
}
.order-item .right {
	overflow: hidden;
	float: right;
}
.order-item p:last-child {
	margin-right: 0;
}
.ovh {
	overflow: hidden;
	border-top: 1px solid #eee;
	padding: 15px;
}
.ovh h3 {
	float: right;
	font-size: 16px;
}