.footer-top {
	overflow: hidden;
}
.footer-top .block {
	padding: 45px;
	background: #fff;
	float: left;
}
.footer-top .phone {
	border-right: 1px solid #eee;
	width: 30%;
	text-align: center;
}
.footer-top .mail {
	width: 70%;
}
.footer-top .block h2 i {
	margin-right: 15px;
}
.footer-bottom {
	background: #8a1066;
	padding: 30px;
}
.footer-bottom p {
	text-align: center;
	color: #fff;
	font-size: 16px;
	margin: 0 0 10px;
}
.footer-bottom h3 {
	text-align: center;
	color: #fff;
}