.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #8a1066;
	padding-left: 15px;
	padding-right: 15px;
	z-index: 9999;
}
.logo,
.search,
.auth-or-user {
	height: 70px;
}
.logo a {
	line-height: 70px;
	color: #fff;
	text-align: center;
}
.logo a:hover {
	text-decoration: none;
}
.search {
	overflow: hidden;
}
.search input {
	height: 44px;
	border-radius: 3px;
	border: none;
	width: calc(100% - 59px);
	margin-top: 13px;
	float: left;
	text-indent: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.search a {
	float: right;
	margin: 13px 0 0 0;
	display: block;
	border: 2px solid #fff;
	width: 44px;
	height: 44px;
	box-sizing: border-box;
	text-align: center;
	line-height: 42px;
	border-radius: 3px;
	color: #fff;
}
.search a:hover {
	text-decoration: none;
}
.cart-show .cart-bar {
	height: 70px;
	position: relative;
}
.cart-show .cart-bar p {
	color: #fff;
	font-size: 18px;
	text-align: center;
	line-height: 70px;
	margin: 0;
	display: block;
	cursor: pointer;
}
.cart-show .cart-bar p i {
	margin-right: 15px;
}
.cart-show .cart-bar .dropdown {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	background: #8a1066;
	box-sizing: border-box;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	overflow: hidden;
	z-index: 9999;
	box-shadow: 10px 20px 20px #ccc;
	padding-bottom: 15px;
}
.cart-show .cart-bar:hover .dropdown {
	display: block;
}
.cart-show .cart-bar .dropdown .item {
	height: 65px;
	overflow: hidden;
	box-sizing: border-box;
}
.cart-show .cart-bar .dropdown .item img {
	width: 50px;
	height: 50px;
	float: left;
	margin: 15px 15px 0;
	border-radius: 3px;
}
.cart-show .cart-bar .dropdown .item .item-details {
	width: calc(100% - 80px);
	height: 50px;
	margin: 15px 0 0;
	float: right;
}
.cart-show .cart-bar .dropdown .item .item-details a {
	color: #fff;
	font-size: 18px;
	display: inline-block;
	width: 100%;
	margin-bottom: 5px;
}
.cart-show .cart-bar .dropdown .item .item-details .amount {
	margin-right: 10px;
}
.cart-show .cart-bar .dropdown .item .item-details .amount,
.cart-show .cart-bar .dropdown .item .item-details .price {
	color: #fff;
	font-size: 14px;
}
.cart-show .cart-bar .dropdown h3 {
	margin: 15px 15px 0;
	color: #fff;
}
.cart-show .cart-bar .dropdown .go-cart {
	margin: 15px 15px 0;
	display: inline-block;
	height: 44px;
	border-radius: 3px;
	padding: 0 15px;
	background: #2ecc71;
	color: #fff;
	line-height: 44px;
	font-size: 16px;
	transition: background .3s;
}
.cart-show .cart-bar .dropdown .go-cart i {
	margin-right: 15px;
}
.cart-show .cart-bar .dropdown .go-cart:hover {
	text-decoration: none;
	background: #27ae60;
}