.sort-row {
	margin-bottom: 30px;
}
.sort {
	border-radius: 3px;
	overflow: hidden;
	background: #fff;
	box-shadow: 10px 20px 20px #ccc;
	padding: 15px;
}
.sort h3 {
	margin-bottom: 5px;
}
.sort select {
	height: 44px;
	border-radius: 3px;
	padding: 0 15px;
	border: 2px solid #eee;
	background: #fff;
	color: #333;
}
.sort select:hover,
.sort select:focus,
.sort select:active {
	outline: none;
	border-color: #8a1066;
}