.view-product {
	margin-bottom: 30px;
}
.product-img,
.product-main,
.product-description,
.product-comments {
	border-radius: 3px;
	overflow: hidden;
	background: #fff;
	box-shadow: 10px 20px 20px #ccc;
	padding: 15px;
}
.product-main {
	background: #8a1066;
}
.product-main h1 {
	color: #fff;
	margin-bottom: 10px;
}
.product-main .price-details {
	margin-top: 15px;
	border-radius: 3px;
	height: 44px;
	overflow: hidden;
}
.product-main .price-details span,
.product-main .price-details button.add-to-cart {
	width: calc(50% - 7.5px);
}
.product-main .price-details span {
	display: block;
	float: left;
	line-height: 44px;
	font-size: 18px;
	overflow: hidden;
	background: #fff;
	border-radius: 3px;
}
.product-main .price-details span button {
	height: 44px;
	width: 44px;
	border: none;
	background: #2ecc71;
	color: #fff;
	font-size: 20px;
	border-radius: 3px;
}
.product-main .price-details span button:hover {
	background: #27ae60;
}
.product-main .price-details span button:focus {
	outline: none;
}
.product-main .price-details span button.minus {
	float: left;
}
.product-main .price-details span p {
	float: left;
	margin: 0;
	width: calc(100% - 88px);
	text-align: center;
	font-family: 'Comfortaa', cursive;
	font-weight: 700;
}
.product-main .price-details span button.plus {
	float: right;
}
.product-main .price-details button.add-to-cart {
	height: 44px;
	border-radius: 3px;
	background: #2ecc71;
	color: #fff;
	float: right;
	border: none;
	transition: all .3s;
}
.product-main .price-details button.add-to-cart:hover {
	background: #27ae60;
}
.product-main .price-details button.add-to-cart i {
	font-size: 20px;
}
.product-description p {
	font-size: 16px;
	line-height: 1.5em;
}
.product-comments {
	margin-top: 30px;
}
.product-comments .comments-section .comment {
	margin-top: 15px;
}
.product-comments .comments-section .comment h3 {
	margin-bottom: 10px;
}
.product-comments .comments-section .comment p {
	margin: 0;
	font-size: 16px;
	line-height: 1.5em;
}
.product-comments .comments-section .comment p.date {
	padding: 5px;
	background: #8a1066;
	color: #fff;
	width: auto;
	border-radius: 3px;
	max-width: 100px;
	text-align: center;
	margin-top: 5px;
}