.product {
	background: #fff;
	box-shadow: 10px 20px 20px #ccc;
	border-radius: 3px;
	overflow: hidden;
	margin-bottom: 30px;
}
.product img {
	height: 200px;
	width: 100%;
}
.product-details {
	padding: 15px;
	background: #8a1066;
}
.product-details h3 a {
	color: #fff;
}
.product-details .price-details {
	margin-top: 15px;
	background: #fff;
	border-radius: 3px;
	height: 44px;
	overflow: hidden;
}
.product-details .price-details span {
	width: 50%;
	display: block;
	float: left;
	line-height: 44px;
	text-align: center;
	font-size: 18px;
}
.product-details .price-details button {
	height: 44px;
	border-radius: 3px;
	background: #2ecc71;
	color: #fff;
	width: 50%;
	float: right;
	border: none;
	transition: all .3s;
}
.product-details .price-details button:hover {
	background: #27ae60;
}
.product-details .price-details button i {
	font-size: 20px;
}
.product-details .rating {
	margin: 15px auto 0;
}