.sidebar {
	background: #fff;
	box-shadow: 10px 20px 20px #ccc;
	border-radius: 3px;
	overflow: hidden;
	margin-bottom: 30px;
}
.sidebar .sidebar-header {
	padding: 15px;
	color: #fff;
	background: #8a1066;
}
.sidebar .sidebar-header h2 i {
	margin-right: 15px;
}
.sidebar ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.sidebar ul li a {
	display: block;
	height: 44px;
	line-height: 44px;
	padding: 0 15px;
	border-bottom: 2px solid #eee;
	font-size: 16px;
	color: #333;
}
.sidebar ul li:last-child a {
	border-bottom: none;
}